<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
    <div class="main">
            <div class="logo">
                <img src="/images/logo.png">
        </div>
  </head>
  <body>
    <h2>Create Team</h2>
    <div class="login">
    <form action="/manage/teams/create" id="login" method="post">
      <label><b>Team Name
      </b>
      </label>
      <input id="Uname" type="text" name="name">
      <br><br>
      <label><b>Members Email
      </b>
      </label>
      <br>
      <textarea  name="emailList" cols="20" rows="10"></textarea>
      <input type="submit" value="Submit">
  </form>
  </div>
  </body>
