<form action="/manage/tasks/create" method="post">
    <input type="text" name="title">
    <textarea name="description" cols="30" rows="10"></textarea>
    <input type="date" name="dueDate">
    <select name="team">
        <option value=""></option>
        <% if(typeof results != 'undefined'){ %>
            <% for(let i=0;i<(results.length);i++){ %>
                <option value="<%=results[i].id%>"><%=results[i].name%></option>
            <% } %>
        <% } %>
    </select>
    <input type="number" name="points">
    <input type="text" name="rewards">
    <input type="submit" value="Submit">
</form>