<h1>Hello <%=category%> <%= name%></h1>
<a href="/views/teams">View<%= category=='manager'?' & create':'' %> teams</a>
<a href="/views/tasks">View<%= category=='manager'?' & create':'' %> tasks</a>
<a href="/users/logout">Logout</a>