<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
    <div class="main">
            <div class="logo">
                <img src="/images/logo.png">
        </div>
  </head>
  <body>
    <h2>Leaderboard</h2><br>
    <div class="login">
    <table>

      <tr>
        <th>Points</th>
        <th>Team name</th>
        <th>Members</th>
        <th>Manager</th>
      </tr>
      <% results.forEach(result=>{ %>
        <tr>
            <td><%= result.points %></td>
            <td><%= result.name %></td>
            <td><%= result.members %></td>
            <td><%= result.manager %></td>
        </tr>
    <% }) %>
</table>
</div>
